.lenny {
    position: relative;
}

.topLeft {
    animation-name: topLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes topLeft {
}
