@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu do akcji!";
}

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nie posiadasz dostępu do operacji.</p>
</header>
