@model CurrencyApp.Pages.ItemsModel

<form class="container" method="post">
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="NameCheck" type="checkbox" name="nameCheck" />
            1. Schowaj nazwy
        </label>
    </div>
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="DateCheck" type="checkbox" name="dateCheck" />
            2. Schowaj datę
        </label>
    </div>
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="PriceCheck" type="checkbox" name="priceCheck" />
            3. Schowaj cenę
        </label>
    </div>
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="CurrencyFCheck" type="checkbox" name="currencyFCheck" />
            4. Schowaj walutę
        </label>
    </div>
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="RateCheck" type="checkbox" name="rateCheck" />
            5. Schowaj kursy
        </label>
    </div>
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="PriceConCheck" type="checkbox" name="priceConCheck" />
            6. Schowaj cenę po danym kursie
        </label>
    </div>
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="DateTableCheck" type="checkbox" name="dateTableCheck" />
            7. Schowaj datę tabeli
        </label>
    </div>
    <div class="col-sm">
        <label class="clickable">
            <input asp-for="CurrencyTCheck" type="checkbox" name="currencyTCheck" />
            8. Schowaj walutę docelową
        </label>
    </div>
    <button class="btn btn-info" id="updateButton">Zatwierdź układ</button>
    @*<button type="submit" class="btn btn-info" asp-page-handler="SaveChanges">Register</button>*@
</form>
