@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorString) || Model.TableA == null)
{
    <div class="h2">@Model.ErrorString</div>
    <div class="text-center">
        @await Html.PartialAsync("~/Pages/Shared/_DateInputPartial.cshtml", Model.TableA.EffectiveDate)
    </div>
}
else
{

    <div class="text-center m-md-3">
        <h1 class="display-2">Tabela kursówww walut z dnia @Model.TableA.EffectiveDate</h1>
        @await Html.PartialAsync("~/Pages/Shared/_DateInputPartial.cshtml", Model.TableA.EffectiveDate)
    </div>
    @await Html.PartialAsync("~/Pages/Shared/_TableAPartial.cshtml", Model.TableA)
}
